body {
  font-family: Arial, sans-serif;
  background-color: #f5f5dc; /* Cream */
  color: #4d6a4d; /* Forest Green */
  margin: 0;
  padding: 0;
}

.header {
  background-color: #38512f;
  padding: 30px;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header img {
  width: 200px;
  height: auto;
  margin-bottom: 0px;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff; /* White for contrast */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

label {
  display: block;
  margin: 10px 0 5px;
}

input, select, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #4d6a4d; /* Forest Green */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #3b5a3b; /* Darker Forest Green */
}
